 <div class="modal-dialog">
        <div class="modal-content">
<div class='modal-header'>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
  <h3 ng-hide='newItem'>Edit Item: {{item.name}}</h3>
  <h3 ng-show='newItem'>New Item</h3>
</div>

<form>
  <fieldset>
    <div class='modal-body'>
    		<div class="input-group">
				<span class="input-group-addon">Name</span>
				<input type="text" class="form-control" id="itemName" ng-model="item.name">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Type</span>
				<input type="text" class="form-control" id="itemType"  ng-model="item.type">
			</div>
			<div class="input-group">
				<span class="input-group-addon">SKU</span>
				<input type="text" class="form-control" id="itemSKU" ng-model="item.sku">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Maker</span>
				<input type="text" class="form-control" id="itemMaker" ng-model="item.maker">
			</div>
	</div>
		
	<div class='modal-footer'>
     <button type="submit" class="btn btn-primary btn-lg btn-block" data-dismiss="modal"  ng-click="update(item)">Save</button>
    </div>
		
</fieldset>
</form>

</div>
</div>