<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">umair1</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.186.211.65:3306</property>
        <property name="hibernate.connection.username">umair</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="show_sql">true</property>
        <mapping class="com.inventles.data.pojo.Employee" />
        <mapping class="com.inventles.data.pojo.CustomerOrder" />
        <mapping class="com.inventles.data.pojo.Item" />
        <mapping class="com.inventles.data.pojo.CodeList" />
        <mapping class="com.inventles.data.pojo.OrderItem" />
        <mapping class="com.inventles.data.pojo.ItemTransaction" />
        <mapping class="com.inventles.data.pojo.CodeType" />
        <mapping class="com.inventles.data.pojo.EmployeeOrder" />
        <mapping class="com.inventles.data.pojo.Customer" />
        <mapping class="com.inventles.data.pojo.Order" />
        <mapping class="com.inventles.data.pojo.BusinessEntity" />
    </session-factory>
</hibernate-configuration>
